.gamefield {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 410px;
}

.cell {
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

img {
    width: inherit;
    height: inherit;
    background-image: url('../img/goblin.png');
    background-size: contain;
}

img:hover {
    cursor: url('../img/hammer.png'), auto;
  }

.hide {
    display: none;
}

.label {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    padding-left: 40px;
    color: lightslategray;
}

.missed {
    color: brown;
}

.points {
    color: chartreuse;
}

button {
    width: 100px;
    height: 50px;
    background-color: cyan;
}