body {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
}

div {
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

img {
    width: inherit;
    height: inherit;
    background-image: url('../img/goblin.png');
    background-size: contain;
}